<section class="container" ng-model="events">
	<script>
		$("#userImage").fadeIn("slow");
		fnUpdateMenu("menuAbout");
	</script>
	<div class="container">    
		<div class="jumbotron" style="box-shadow: 0px 0px 12px #888888;margin-top:50px">
			<div class="row">
				<div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
					<img id="userImage" src="/res/res-256x256.png" alt="stack photo" class="img " style="display: none">
				</div>
				<div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
					<div class="container" style="border-bottom:1px solid black">
						<h2>Eugene Deynega</h2>
					</div>
					<hr>
					<ul class="container details">
						<li><p><span class="glyphicon glyphicon-new-window" style="width:50px;"></span><a href="/#!/all">Technical Assessment</p></a>
						<li class="divider"></li>
						<li><p><span class="glyphicon glyphicon-earphone" style="width:50px;"></span>+1 647-995-3955</p></li>
						<li><p><span class="glyphicon glyphicon-envelope" style="width:50px;"></span>deynega@gmail.com</p></li>
						<li><p><span class="glyphicon glyphicon-link" style="width:50px;"></span><a href="https://www.linkedin.com/in/evgeniydeynega/">LinkedIn</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


